In [64]:
import copy

a = {'name': 'laihongwei', 'gender': 'male', 'homework score': ['95', '100', '90']}
b = {'student ID': 'M1129020'}

a.update(b)

c = copy.deepcopy(a)

a['homework score'][1] = 80

c['name'] = 'xujiaqi'
c['gender'] = 'female'
c['student ID'] = 'M1229001'

x = int(a['homework score'][0])
y = int(a['homework score'][1])
z = int(a['homework score'][2])

e = x + y + z
e = e/3


m = int(c['homework score'][0])
n = int(c['homework score'][1])
o = int(c['homework score'][2])

f = m + n + o
f = f/3

k = a.pop('homework score')
q = c.pop('homework score')
print(e)
print(a)
print(f)
print(c)

88.33333333333333
{'name': 'laihongwei', 'gender': 'male', 'student ID': 'M1129020'}
95.0
{'name': 'xujiaqi', 'gender': 'female', 'student ID': 'M1229001'}

In [59]:
c = 347 / 3
a = int(c)
b = 347 - 3*a
e = a ** b
print(a)
print(b)
print(e)

115
2
13225

In [102]:
a = ['100', '50', '45', '60', '90' ,'95', '80', '50']
b = ['88']
c = b + a
c[2:5]=['70', '50']
d = int(c.index('50'))
del c[d]
e = int(c.pop(0))
f = int(c.pop(-1))

g = e + f

print(g)

138